body {
  font-family: Roboto, sans-serif;
  color: var(--first-titles-text-color);
}
:root {
  --first-titles-text-color: #212121;
  --text-color: #757575;
  --button-primary-color-text: #ffffff;
  --button-primary-color: #2196f3;
  --background-color: #2f303a;
}
ul {
  list-style: none;
}

/* header */

.header .logo-first {
  color: var(--button-primary-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header .logo-second {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.site-nav .link {
  color: var(--first-titles-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
/* site-nav link -навигация*/
.site-nav .link:hover {
  /*(hover - при наведении)*/
  color: var(--button-primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
/* .site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 11.14;
  letter-spacing: 0.02em;
} */
.nav-e-mail {
  color: var(--button-primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-tel {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.hero {
  text-align: center;
}
.section-titles {
  color: var(--first-titles-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section {
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Hero*/
.hero-title {
  color: var(--button-primary-color-text);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--button-primary-color);
  color: var(--button-primary-color-text);
}

/* Приемущества-features*/
.features-titles {
  color: var(--first-titles-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*  Чем мы занимаемся - what are we doing*/
.about-us {
  color: var(--first-titles-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда - Our team */
.team {
  color: var(--first-titles-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-title {
  color: var(--first-titles-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Portfolio */
.portfolio-titles {
  color: var(--first-titles-text-color);
}
.portfolio-text {
  color: var(--text-color);
}
/* Кнопки - Buttons */

.buttons-primary:hover {
  background-color: var(--button-primary-color);
  color: var(--button-primary-color-text);
}

/* Подвал - footer */
.footer {
  background-color: var(--background-color);
}
.footer .logo-first {
  color: var(--button-primary-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer .logo-second {
  color: var(--button-primary-color-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Контакты - contacts */
.adress {
  font-style: normal;
  color: var(--button-primary-color-text);
}
.footer .contacts {
  color: var(--button-primary-color-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-e-mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
